<mat-sidenav-container >

  <mat-sidenav mode="side" opened>

    <div id="side-nav">

      <div class="text" id="title">Wave-function-collapse</div>
      <mat-slider (change)="updateDIM($event)" min="2" max="18" step="1">
        <input matSliderThumb />
      </mat-slider>
      <div class="text" >DIM: {{value}}</div>
      <mat-slider (change)="updateSLEEP($event)" min="0" max="10000" step="100">
        <input matSliderThumb />
      </mat-slider>
      <div class="text" >SLEEP in ms: {{sleep}}</div>

      <mat-checkbox  class="checkbox" (change)="updateCHECK($event)">Show possible options</mat-checkbox>
      
      <button id="startButton" (click)="do()" mat-raised-button>START</button>
      
    </div>

  </mat-sidenav>

  <mat-sidenav-content class="main-container">
    <app-frame #frame [showOption]="showOption" [DIM]="value" [SLEEP]="sleep" id="wfc-container"></app-frame>
  </mat-sidenav-content>

</mat-sidenav-container>
