<mat-sidenav-container >

  <mat-sidenav mode="side" opened>

    <div id="side-nav">

      <div class="text" id="title">WAVE-FUNCTION-COLLAPSE</div>

      <div class="text" >DIM: {{dim}}</div>
      <mat-slider (change)="updateDIM($event)" min="2" max="40" step="1" value="9">
        <input matSliderThumb />
      </mat-slider>

      <div class="text" >SIZE: {{size}}</div>
      <mat-slider (change)="updateSIZE($event)" min="20" max="100" step="1" value="50">
        <input matSliderThumb />
      </mat-slider>
      
      <div class="text" >SLEEP in ms: {{sleep}}</div>
      <mat-slider (change)="updateSLEEP($event)" min="0" max="2000" step="100">
        <input matSliderThumb />
      </mat-slider>

      <mat-checkbox  class="checkbox" (change)="updateCHECK($event)">Show possible options</mat-checkbox>

      <div class="text" id="radioLabel">Cell pick option</div>
      <mat-radio-group (change)="getMultipleChoiceAnswer($event)">
        <div id="radioGroup">
        <mat-radio-button [value]="mode[0]">{{mode[0]}}</mat-radio-button>
        <mat-radio-button [checked]="true" [value]="mode[1]">{{mode[1]}}</mat-radio-button>
      </div>
      </mat-radio-group>
      
      <button id="startButton" (click)="do()" mat-raised-button>{{buttonName}}</button>

      <mat-form-field>
        <mat-label class="text">Tileset</mat-label>
        <mat-select [(value)]="currentTiles" (selectionChange)="updateCurrentTiles($event)">
          <mat-option *ngFor="let tiles of tileOptions" [value]="tiles.tileData">
              {{tiles.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div id="resultText" [ngClass]="{
        'failureText' : result === 'FAILURE',
        'successText' : result === 'FINISHED',
        'standardResultText' : result !== 'FAILURE' && result !== 'FINISHED'
      }">{{result}}</div>
    </div>

  </mat-sidenav>

  <mat-sidenav-content class="main-container">
    <app-frame #frame [showOption]="showOption" [MODE]="currentMode" [tiles]= "currentTiles" [DIM]="dim" [SLEEP]="sleep" [tileSize]="size" id="wfc-container" (resultEvent)="updateResultStatus($event)" (statusEvent)="updateStatus($event)"></app-frame>
  </mat-sidenav-content>

</mat-sidenav-container>
