.main-container {
  background-color: rgb(27, 27, 27);
}

#wfc-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#side-nav {
  display: flex;
  flex-direction: column;
  background-color: rgb(27, 27, 27);
  height: inherit;
  width: 250px;
}

mat-slider {
  width: 200px;
}

.checkbox {
  padding: 1em;
  color: rgb(214, 214, 214);
}

.text {
  padding-left: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(214, 214, 214);
}

#title {
  font-size: 15px;
  padding: 1em;
  padding-bottom: 5em;
  text-align: center;
}

#startButton {
  margin: 1em;
  float: left;
  background-color: rgb(214, 214, 214);
}

#menuButton {
  background-color: rgb(214, 214, 214);
}

#radioLabel {
  padding: 5px;
}

#radioGroup {
  display: flex;
  flex-direction: column;
  color: rgb(214, 214, 214);
}


mat-form-field {
  padding: 1em;
}

mat-radio-button {
  padding: 5px;
}

/* indigo pink pallete
#f8bbd0
#f48fb1
#ec407a
*/

::ng-deep .mat-option-text {
  color: #ec407a !important;
}

::ng-deep .mat-select-value-text {
  font-weight: bold;
  color: #ec407a !important;
}